.txt-md{
  font-family: var(--ff-syne);
  font-size: var(--fs-md);
  font-weight: var(--fw-bold);
}

.txt-xs{
  font-family: var(--ff-montserrat);
  font-size: var(--fs-xs);
  font-weight: var(--fw-medium);
}

.hl-joy{
  color: var(--snitap-joy-mid);
}

.hl-sky{
  color: var(--snitap-sky-mid);
}

.hl-leaf{
  color: var(--snitap-leaf-mid);
}

.flex{
  display: flex;
  align-items: center;
}

.container{
  width: 100%;
  padding-inline: 1.5rem;
  margin-inline: auto;
}

@media (width >= 768px){
  .container{
    max-width: 1280px;
    padding-inline: 2rem;
  }
}